[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://package_read:${CI_PIP_GITLABJUSMUNDI_TOKEN}@gitlab.com/api/v4/groups/7364654/-/packages/pypi/simple"
verify_ssl = false
name = "gitlab"

[packages]
ansible-lint = {extras = ["yamllint"], version = "~=6.8.7"}
awscli = "~=1.27.16"
awscli-plugin-endpoint = "~=0.4"
bandit = "~=1.7.4"
certifi = ">=2022.12.07"
dvc = {version = "~=2.1.0", extras = ["s3"]}
#pathspec = ">=0.9.0"
flake8 = "~=6.0.0"
flake8-formatter-junit-xml = "~=0.0.6"
nox = "~=2022.11.21"
pytest = "~=7.2.0"
pytest-asyncio = "~=0.20.2"
pytest-cov = "~=4.0.0"
pytest-dependency = "~=0.5.1"
#pytest_order = ">=1.0.1"
#NOK semgrep = ">=0.122.0"
semgrep = "~=0.122.0"
sphinx = "~=5.3.0"
yamllint = "~=1.28.0"
twine = "~=4.0.1"
wheel = "~=0.38.4"

[dev-packages]
checkov = "~=2.2.95"
docker-compose = "~=1.29.2"
#git-pre-commit-hook-utils = ">=0.0.5"
pre-commit = "~=2.20.0"
pre-commit-hooks = "~=4.4.0"
podman-compose = "~=1.0.3"
#pipenv = ">=2022.6.7"

[requires]
# python_version = "3.9"
python_full_version = "3.8.10"
